
a {
  text-decoration: none;
  color: black;
}
a:hover {
  transition-timing-function: 0,5s;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

header{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

h1{
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 35pt;
  font-style:normal;
  color: lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
}

h2{
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 35pt;
  font-style:normal;
  color: lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
}

body{
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Questrial', sans-serif;
}

header, nav, footer{
  flex: 1 100%;
}


.main-nav{
  text-align: center;
  padding-left: 0px;
  margin-bottom: 0px;
  font-family: 'Questrial', sans-serif;
  margin-top: 20px;
}

.main-nav a {
  text-decoration: none;
  color: black;
}
.main-nav a:hover {
  color: grey;
  transition-timing-function: 0,5s;
}

.image{
  width: 200px;
  height: 200px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 35px;

}

.image.first{
  margin-left: 0;
}

.images{
  width: 100%;
  text-align: center;
}

.contentbox{
  display: inline-block;

}
.contentbox a{
  display: block;
  position: absolute;
  width: 200px;
  padding-left: 10px;
  padding-top: 210px;

}

.contentbox:hover a {
  height: 110px;
  width: 210px;
  background-color: rgba(255,255,255,0.7);
  padding-top: 90px;
  border-bottom: 30px solid white;
}

.wrappersites{
  margin-left: auto;
  margin-right: auto;
  width: 660px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.main-nav-sites{
  text-align: center;
  padding-left: 0px;
  margin-bottom: 60px;
  font-family: 'Questrial', sans-serif;
  margin-top: 0px;
 }

.text{
  display: inline-block;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 15pt;
}

footer{
border-top: 1px solid lightgrey;
padding-top: 10px;
}





@media only screen and (max-width: 768px){

  .wrapper{
    width: calc(100% - 40px;
    padding: 0 20px;
  }

}

@media only screen and (max-width: 320px){

  .main-nav-sites-mobile{
    display: block;
    font-size: 15px;
  }

  .main-nav-sites-desktop{
    display: none;
  }



}
