
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: lightgrey;
  transition-timing-function: 0,5s;
}

body{
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Questrial', sans-serif;
}

header{
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

header, nav, footer{
  flex: 1 100%;
}

img, video, canvas {
  max-width: 100%;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 660px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 10px;
}
.wrappersites{
  margin-left: auto;
  margin-right: auto;
  width: 660px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

h2{
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 25pt;
  font-style:normal;
  color: lightgrey;
}

.nav-desktop{
  font-family: 'Questrial', sans-serif;
  margin-right: 20px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.main-nav-sites-mobile{
  display: none;
}

.text{
  display: inline-block;
  text-align: right;
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
  margin-top: 115px;
  margin-right: 20px;
}

.wrapperportfolio{
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.textportfolio{
  text-align: left;
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
}
.rahmen{
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 660px;
  height: 352px;
}
.telephone{
  display: none;
}

.textkontakt{
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
  margin-top: 40px;
}


.images{
  display: flex;
  align-content: center;
  text-align: center;
  flex direction: row;
}

.image{
  width: 200px;
  height: 200px;
  display: inline-block;
}

.imageaboutme{
  width: 35%;
  display: inline-block;
  float: right;
}
.imageaboutme2{
  display: none;
}
.imageandtext{
  text-align: right;
  text-align-last: right;
}
.mobileabout{
  display: none;
}

.galerie{
  display: inline-block;
  text-align: center;
}
.imagegalerie{
  height: 100%;
  display: inline-block;
}
.imagegaleriequer{
  width: 94%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


@media only screen and (max-width: 768px){

  .wrapper{
    padding: 0 20px;
  }

  .wrapperportfolio{
    width: calc(100% - 40px)
  }
}

@media only screen and (max-width: 320px){

  .nav-desktop{
    display: none;
  }
  .main-nav-sites-mobile{
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .desktopabout{
    display: none;
  }
  .mobileabout{
    display: block;
  }
  .imageaboutme{
    display: none;
  }
  .imageaboutme2{
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
  }
  .rahmen{
    width: 100%;
    height: auto;
  }

  .text{
    margin-top: 15px;
    display: block;
    text-align: left;
    margin-left: 40px;
    line-height: 1.5;
  }

  .telephone{
    display: inline;
    text-align: center;
  }

}
